body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: white;/*change these*/
    color: white;/*change these*/
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

#headerTemplate{
    min-height: 400px;
    color: #287094;
    text-align: center;
}

#headerTemplate .logo_image{
    position: absolute;
    background-position: left;
    /* background-repeat: no-repeat;
    background-size: cover;
    width: */

}

























/* #headerBox {
    border-radius: 10%;
    border: 2px solid grey;
    background-color: #287094;
    padding: 1%;
    margin: 5%; 
    max-width:100%;
    height: auto;  
  }

.logo_image{
    margin: 1%;
    align-self: center;
    border: 2px #d4d4ce;
    border-radius: 27%;
    max-width: 20%;
    height: auto;
}

#about_me, #projects{    
    float: right;
    border-radius: 25%; /*em????*/ /*
    border: 2px solid #d4d4ce;
    color: black;
    padding: 2% 5%;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    margin: 2% 2% 2% 2%;
    cursor: pointer;
}
#contact_me{
    position: absolute;
    top: 7%;
    left: 63%;
    float: right;
    border-radius: 25%;
    border: 2px solid #d4d4ce;
    color: black;
    padding: 2% 5%;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    margin: 2% 2% 2% 2%;
    cursor: pointer;
} */